$blanco-pokemon: #f0fbff;

$celeste-oscuro: #30408d;
$celeste-medio: #6188ff;
$celeste-ligero: #71a4f3;
$celeste-suave: #8ec0f0;
$celeste: #88daf2;

$amarillo-pokemon-intenso: #fff333;
$amarillo-pokemon: #fceab8;

$celeste-fondo-ligero: #d3ecf6;
$celeste-fondo-claro: #c4e8f8;

$gris-fondo-ligero: #bfc3c3;
$gris-fondo-claro: #c3c5c4;

$verde-fondo-ligero: #cce486;
$verde-fondo-claro: #bfd678;

$naranja: #f49545;

